# [build-system]
# requires = ["hatchling"]
# build-backend = "hatchling.build"

[project]
name = "rfbudget"
version = "0.1.0"

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]
pythonpath = "src"

[dependency-groups]
dev = [
    "ruff>=0.14.13",
]
